body {
    background-image: url(images/barfrontpage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  input[type="text"], button {
    padding: 10px;
    margin: 10px;
  }
  
  #cocktailList {
    margin-top: 20px;
    text-align: left;
  }
  
  .cocktail {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

/* .images {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  } */