/* Background styles for the body */
body {
    background-image: url(images/barfrontpage.png); /* Set background image */
    background-repeat: no-repeat; 
    background-size: cover; /* Cover the entire background with the image */
    color: white; 
}

/* style for the container */
.container {
    max-width: 600px; 
    margin: 50px auto; 
    text-align: center; 
}

/* Input and button styles */
input[type="text"],
button {
    padding: 10px;
    margin: 10px; 
}

/* Styles for the cocktail list */
#cocktailList {
    margin-top: 20px; 
    text-align: left; /* Left-align text within the cocktail list */
    background-color: white; /* Set background color for the cocktail list to be visible */
}

/* Styles for individual cocktail items */
.cocktail {
    border: 1px solid black; /* Add border around each cocktail item */
    padding: 10px;
    margin-bottom: 10px; 
    color: black;
}