body {
    background-image: url(images/barfrontpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"],
button {
    padding: 10px;
    margin: 10px;
}

#cocktailList {
    margin-top: 20px;
    text-align: left;
}

.cocktail {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
}

